/* 头部样式 */
.site-nav {
    width: 100%;
    height: 36px;
    z-index: 10000;
    background: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

.site-nav:after {
    content: "";
    display: table;
    clear: both;
}

.site-nav-bd {
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
}

/* :after = 用来和 content 属性一起使用，设置在对象后(依据对象树的逻辑结构)发生的内容 */
.site-nav-bd:after {
    content: "";        /* 用来和 :after 及 :before 伪元素一起使用，在对象前或后显示内容 */
    display: table;     /* 将对象作为块元素级的表格显示 */
    clear: both;        /* 清除浮动效果,不允许有浮动对象 */
}

.site-nav .site-nav-bd-l, .site-nav .site-nav-bd-l .menu, .site-nav .site-nav-bd-r .menu {
    float: left;
}

.site-nav .site-nav-menu {
    float: left;
}

.site-nav-bd .site-nav-bd-l {
    visibility: visible;
}

.site-nav-menu-hd {
    z-index: 10002;
    position: relative;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
    _display: inline;
    _zoom: 1;
}

.site-nav-menu-hd {
    z-index: 10002;
    position: relative;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
    _display: inline;
    _zoom: 1;
}

.site-nav-menu-hd a {
    float: left;
    margin-right: 7px;
    font-size: 12px;
    color: #6C6C6C;
}

.site-nav-menu-hd .h {
    color: #F22E00!important;
}

.site-nav-bd-r {
    float: right;
}

/* 尾部样式 */
