

#header {
    width: 100%;
    height: 36px;
    background: #F5F5F5;
}

#header-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; /* 不显示超过对象尺寸的内容 */
}

#header-content #header-left {
    float: left;
    visibility: visible; /* 隐藏对象 */
}