a:-webkit-any-link {
    color: #f40;
    text-decoration: none;
    cursor: auto;
}

#header {
    padding: 22px 0;
    height: 44px;
    zoom: 1; /* 缩放比例 */
}

.logo {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; /* 不显示超过对象尺寸的内容 */
}

h1 a {
    text-decoration: none; /* 取消链接下划线 */
    color: #f40;
}

#content {
    height: 600px;
    width: 100%;
    background-color: #FFAC28;
}

.content-layout {
    height: 600px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.login-bg {
    position: absolute;
    background-position: left center;
    top: 0px;
    left: 0px;
    width: 650px;
    height: 600px;
    background: url(../images/login-bg.jpg) no-repeat 0 0;
}

.login-bg-click a {
    position: absolute;
    width: 600px;
    height: 550px;
    left: 0px;
    top: 10px;
    color: #f40;
    text-decoration: none;
}

.login-box-warp {
    overflow: hidden;
    position: relative;
    height: 350px;
    width: 400px;
    top: 70px;
    left: 700px;
    background-color: #E6E6E6;
}

/*实现有提示效果的输入框*/
input::-webkit-input-placeholder { 
color: #999; 
-webkit-transition: color.5s; 
} 
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { 
color: #c2c2c2; 
-webkit-transition: color.5s; 
}

#form-title {
    margin-top: 30px;
    margin-left: 30px;
}

#username {
    margin-top: 30px;
    margin-left: 55px;
}

#username input {
    height: 40px;
    width: 280px;
    font-size: 1.2em;
}

#password {
    margin-top: 30px;
    margin-left: 55px;
}

#password input {
    height: 40px;
    width: 280px;
    font-size: 1.2em;
}

#submit {
    margin-top: 30px;
    margin-left: 55px;
}

#submit button {
    height: 40px;
    width: 280px;
    background-color: #FF4400;
    color: #FFF;
    font-size: 0.9em;
}

#login-links {
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}
