body {
    font-size: 14px;
}

.content {
    width: 1190px;
    height: 623px;
    margin: 0 auto;
}

.main {
    margin: 50px auto 60px;
    width: 830px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* 注册选项间的间隔 */
.input-tip {
    color: #c5c5c5;
    height: 27px;
    font-size: 12px;
    padding-top: 5px;
}

.form-item {
    position: relative;
    border: solid 1px #ddd;
    width: 398px;
    height: 52px;
    z-index: 0;
}

/* html5/css3 实现输入框提示信息 */
input::-webkit-input-placeholder {
color: #999;
-webkit-transition: color.5s;
}
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
color: #c2c2c2;
-webkit-transition: color.5s;
}

.form-item-account {
    z-index: 13;
}

.form-item label {
    float: left;
    width: 90px;
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
}

label {
    cursor: default;
}

.form-item .field {
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
}

input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i],
input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}

button, input, select, textarea {
    outline: 0;
}

.form-item .i-status {
    position: absolute;
    display: none;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
}

em, i, u {
    font-style: normal;
}
