body {
    font-size: 16px;
}

.content {
    width: 1190px;
    height: 623px;
    margin: 0 auto;
}

.main {
    margin: 50px auto 60px;
    width: 830px;
}

.main-l {
    width: 400px;
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* 注册选项间的间隔 */
.input-tip {
    color: #c5c5c5;
    height: 27px;
    font-size: 12px;
    padding-top: 5px;
}

.form-item {
    position: relative;
    border: solid 1px #ddd;
    width: 398px;
    height: 52px;
    z-index: 0;
}

/* html5/css3 实现输入框提示信息 */
input::-webkit-input-placeholder {
color: #999;
-webkit-transition: color.5s;
}
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
color: #c2c2c2;
-webkit-transition: color.5s;
}

.form-item-account {
    z-index: 13;
}

.form-item label {
    float: left;
    width: 90px;
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
}

label {
    cursor: default;
}

.form-item .field {
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
}

input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i],
input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}

em, i, u {
    font-style: normal;
}

.form-item .img-code {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 110px;
    height: 46px;
    cursor: pointer;
}

.btn-phonecode {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 110px;
    height: 46px;
    border: none;
    background: #f2f2f2;
    color: #333;
    padding: 0;
}

.btn-register {
    width: 100%;
    height: 54px;
    color: #fff;
    background: #F22E00;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}

/* 注册页面右边的广告位 */
.main-r {
    float: left;
    margin-left: 104px;
    height: 677px;
    padding-left: 90px;
    border-left: solid 1px #e6e6e6;
}

/* icon */
.input-tip span i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: 8px;
}

.form-item .i-ok {
    position: absolute;
    display: none;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
}

.i-ok, .i-def, .i-error {
    background: url(../images/icon.png) no-repeat;
}


.i-ok {
    display: block;
    background-position: -61px -33px;
}

/* 灰色感叹号 */
.i-def {
    background-position: -61px -5px;
}


